# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# maven build outputs
target/

# netbeans legacy
nbproject/
nbactions.xml

# eclipse legacy
.project

# intellij
.idea
*.iml

# Spring
spring.log
logs/
/application.properties
/bootstrap.properties

# Composer-style
vendor

# Git and temp files
*.orig
*.patch
*~
